.main{
    box-shadow: 5px 10px 18px red;
    transform: translate(-20%,0%);
}

.img{
    text-align: center;
}
.text{
    text-align: center;

}
.text1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.test{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#p1 { 
    -webkit-text-stroke: 0.25px blue;
    background-attachment: scroll;
    /*height: 400px;*/
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
}
#p2 {
    -webkit-text-stroke: 0.25px blue;
    background-attachment: scroll;
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
}
#p3 {
    -webkit-text-stroke: 0.25px blue;
    background-attachment: scroll;
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
}
.head1{
    flex-wrap: nowrap;

}
#p3{
    color: orange;
    margin-left: 35%;
    margin-right: 35%;
    /*box-shadow: 5px 10px 18px red;*/
    text-shadow: 5px 5px 3px red;
    transition: .5s;
}
#p3:hover{
    color: orange;
    margin-left: 35%;
    margin-right: 35%;
    text-shadow: -5px -5px 3px blue;
    transition: .5s;
}
.wel{
    width: 160px;
    color: orange;
    margin-left: 35%;
    box-shadow: 5px 10px 18px red;
    transition: .5s;
}
.wel1{
    width: 330px;
    color: orange;
    margin-left: 35%;
    box-shadow: 5px 10px 18px red;
    transition: .5s;
}
.wel:hover,.wel1:hover{
    color: orange;
    box-shadow: -5px -10px 18px blue;
    transition: .5s;
}
article {
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
}
.code1{
    color: blue;
    
}

.polling_message {
    color: white;
    float: left;
    margin-right: 2%;
  }
  
  .view_port {
    background-color: black;
    height: 65px;
    width: 100%;
    overflow: hidden;
  }
  
  .cylon_eye {
    background-color: chocolate;
    background-image: url("home.png");
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, .9) 25%,
        rgba(0, 0, 0, .1) 50%,
        rgba(0, 0, 0, .9) 75%);
    color: white;
    height: 100%;
    width: 20%;
  
    -webkit-animation: 4s linear 0s infinite alternate move_eye;
            animation: 4s linear 0s infinite alternate move_eye;
  }
  
  @-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
          @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }


          .ain {
            width: 600px;
            height: 367px;
            margin-left: 25%;
            background-image: url("image.png");
            display: block;
            color: rgba(255, 255, 255, .5);
            transition: .5s;
            border: 10px solid white;
            border-radius: 10px;
            opacity: 0.9;
        }

        .ain:hover {
            color: white;
            border-color: white;
           
            box-shadow: 0 0 100px 50px rgba(255, 255, 255, .5);
            opacity: 1;
        }

        .logo a,
        img {
            display: block;
            color: rgba(255, 255, 255, .5);
            transition: .5s;
        }

        .logo a:hover {
            background: rgba(255, 255, 255, .5);
            color: white;
            border-color: white;
        }

        #pet a {
            width: 100px;
            margin-top: 10px;
            background: white;
            border: 10px solid white;
            border-radius: 10px;
            opacity: 0.9;
        }

        #pet a:hover {
            background: white;
            box-shadow: 0 0 100px 50px rgba(255, 255, 255, .5);
            opacity: 1;
        }
        .head1-1{
            position: relative;
        }
        .head1-1{
            transform: translate(12%,-130%);
            max-width: 89.5%;
        }
